body {
  font-size: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

::-webkit-scrollbar {
    display: none;
}

.page-icon {
  padding-top: 10vh;
  text-align: center;
  width: 100%;
}

.page-icon i {
  font-size: 10em;
  color: #333333;
}

a {
  color: #E24E42;
}

a:visited {
  color: #B94037;
}

input[type="date"], input[type="time"] {
  border: none;
  width: 100%;
  margin-top: 1em;
  padding: 0.25em;
  font-size: 1em;
}

input[type="text"], input[type="password"], input[type="email"] {
  font-size: 1.2em;
  padding: 0.5em 0.5em 0.5em 0.2em;
  max-width: 100%;
  border: none;
  border-bottom: 2px solid #757575;
  transition: 0.15s ease-in border-color;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
  outline: none;
  /*border-color: #E24E42;*/
}

input[type="text"]:disabled, input[type="password"]:disabled, input[type="email"]:disabled, .flatpickr-input:disabled {
  background-color: #fff;
  color: #262626;
  border: none;
  border-color: rgba(0,0,0,0);
}

input[type="text"]:disabled:hover, input[type="password"]:disabled:hover, input[type="email"]:disabled:hover, .flatpickr-input:disabled:hover {
  cursor: default;
}

.input-group {
  max-width: 16em;
  position: relative;
  margin: 2em auto;
}

.input-group > label {
  position: absolute;
  left: 0.2em;
  top: 0.4em;
  font-size: 1.2em;
  pointer-events: none;
  color: #999;
  transition: 0.15s ease-in top, 0.15s ease-in font-size, 0.15s ease-in color;
}

.input-group > input:focus~label, .input-group > input:valid~label, .input-group > input:disabled~label, .input-group > input#datepicker~label{
  top: -1.2em;
  font-size: 1em;
  /*color: #E24E42 ;*/
}

/* INPUTS */
.button, input[type="submit"], input[type="reset"] {
  /*background-color: #E24E42;*/
  border: none;
  color: #fff;
  padding: 0.75em;
  font-size: 1.2em;
  transition: 0.15s ease-in background-color;
  margin: 1em;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  /*box-shadow: 0 0.0025em 0.10em rgba(0,0,0,0.10), 0 0.0025em 0.10em rgba(0,0,0,0.20);*/
  width: 6em;
}

.button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
  /*background-color: #CE473C;*/
  color: #fff;
  cursor: pointer;
}

.button:focus, input[type="submit"]:focus, input[type="reset"]:focus {
  outline: none;
  color: #fff;
  /*background-color: #B94037;*/
}

#modal-deny {
  /*background-color: #E24E42;*/
}

#modal-deny:hover {
  /*background-color: #CE473C;*/
}

#modal-deny:focus {
  /*background-color: ##B94037;*/
}

#login-form {
  text-align: center;
}

input[type="checkbox"], input[type="radio"] {
  display: none;
}

label {
  display: inline;
}

input[type="checkbox"] ~ label,  input[type="radio"] ~ label{
  vertical-align: middle;
  user-select: none;
}

*[data-state="hidden"] {
  display: none;
}

input[type="checkbox"] ~ label:hover,  input[type="radio"] ~ label:hover {
  cursor: pointer;
}

input[type="checkbox"] + label, input[type="radio"] + label.circ {
  background-color: #E0E0E0;
  border-radius: 0.2em;
	padding: 9px;
	display: inline-block;
	position: relative;
  margin: 0.25em;
  -webkit-transition: 0.15s ease-in background-color;
  -moz-transition: 0.15s ease-in background-color;
  -o-transition: 0.15s ease-in background-color;
  transition:  0.15s ease-in background-color;
  color: #fff;
}

input[type="radio"] + label.circ {
  border-radius: 50%;
}

input[type="checkbox"]:checked + label, input[type="radio"]:checked + label.circ {
  background-color: #81C784;
}

input[type="checkbox"]:checked + label:after {
  content: "✔";
	font-size: 13px;
	position: absolute;
	top: 0px;
	left: 4px;
	color: #fff;
  animation: fadeIn 0.15s linear;
  outline: none;
}

#header-cont {
  display: inline-block;
  width: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
  color: #fff;
  background-color: #E24E42;
  /*border-bottom: 0.25em solid #FF5722;*/
  z-index: 100;
  /*box-shadow: 0 0.05em 0.25em rgba(0,0,0,0.12), 0 0.05em 0.2em rgba(0,0,0,0.24);*/
}

#header-title {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em;
  line-height: 2em;
}

#header-title > span {
  font-family: "Open Sans";
}

#menu {
  /*display: block;*/
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  transition: max-height 0.15s ease-in;
  top: 3.25em;
  overflow: hidden;
  max-height: 0px;
  top: 3em;
  width: 100%;
}

#menu a{
  width: 100%;
	display: block;
  color: #fff;
  font-weight: 700;
	text-decoration: none;
	padding: 1em 0;
  font-size: 1em;
  line-height: 1em;
	text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  transition: max-height 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}

#menu a:hover {
  background-color: #B94037;
}

#menu ul {
  max-height: 0em;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 0.1em 0.25em rgba(0,0,0,0.10);
}

#menu .hidden {
  max-height: 0em;
  font-size: 0;
}

#menu .menu-item:active, #menu .menu-item:hover, #menu .menu-item:focus {
	outline: none;
	background-color: #ECECEC;
}

#menu input {
  display: none;
}

/*Styling the hamburger menu*/
#hamburger {
	width: 1.6em;
	height: 1.8em;
	position: relative;
	float: right;
	padding: 0.7em;
	-webkit-transition: 0.15s ease-in-out;
	-moz-transition: 0.15s ease-in-out;
	-o-transition: 0.15s ease-in-out;
	transition: 0.15s ease-in-out;
}

#bar-cont {
	height: 1.6em;
	width: 1.6em;
	position: absolute;
}

/*Spans are placed in a 30px space, making each division of the hamburger 5px*/

#hamburger span {
	height: 0.34em;
	width: 1.8em;
	background-color: #fff;
	display: block;
	position: absolute;
	border-radius: 8px;
	-webkit-transition: 0.15s ease-in-out;
	-moz-transition: 0.15s ease-in-out;
	-o-transition: 0.15s ease-in-out;
	transition: 0.15s ease-in-out;
	left: 0px;
}

/* Hamburger Animation */
#hamburger span:nth-child(1) {
	top: 0em;
}

#hamburger span:nth-child(2), #hamburger span:nth-child(3) {
	top: calc(50% - 0.16em);
}

#hamburger span:nth-child(4) {
	top: calc(100% - 0.34em);
}

#hamburger.open span:nth-child(1), #hamburger.open span:nth-child(4)  {
	width: 0%;
	opacity: 0.1;
	left: 50%;
	top: 50%;
}

#hamburger.open span:nth-child(2) {
	transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
	transform: rotate(-45deg);
}

main {
  margin: 0 1em;
  margin-top: 3em;
}

.vert-align-cont {
  height:100px;
  width:100%;
  vertical-align:middle;
  display:inline-block;
  box-sizing: border-box;
}

.vert-align-cont h1 {
  margin:0;
  vertical-align:middle;
  display:inline-block;
  box-sizing: border-box;
}

.add-cont {
  float:right;
  display:inline-block;
  height:100%;
  box-sizing: border-box;
}

.add-button {
  vertical-align:middle;
  display:inline-block;
  box-sizing: border-box;
  font-size: 3em;
  color: #e24e42;
  -webkit-transition: 0.15s ease-in-out color;
	-moz-transition: 0.15s ease-in-out color;
	-o-transition: 0.15s ease-in-out color;
	transition: 0.15s ease-in-out color;
}

.vert-align-cont:after, .add-cont:after, .add-button:after {
  height:100%;
  content:'';
  font-size:0;
  vertical-align:middle;
  display:inline-block;
  box-sizing: border-box;
}

.add-button:hover {
  color: #CE473C;
  cursor: pointer;
}

.add-button:active {
  color: #B94037;
}

/* MODAL DIALOGS */
#modal-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: rgba(0,0,0,0);
  transition: 0.15s ease-in background-color;
  z-index:101;
}

.modal-back-fadeout {
  height: 100% !important;
  width: 100% !important;
  display: block !important;
}

.modal-back-show {
  height: 100% !important;
  width: 100% !important;
  display: block !important;
  background-color: rgba(0,0,0,0.6) !important;
}

#modal-cont {
  width:  100%;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  position: fixed;
  top: 100%;
  text-align: center;
  transition: 0.15s ease-in top;
  visibility: hidden;
  overflow: hidden;
}

.modal-fadeout {
  top: 100% !important;
  visibility: visible !important;
}

.modal-show {
  visibility: visible !important;
  display: block !important;
  top: 0 !important;
}

#modal-data {
  padding: 1em;
}

/*#modal-cont::before {
  content: " ";
  height: 0.25em;
  position: relative;
  display: block;
  background-color: #6AB569;
}*/

#modal-exit {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 2em;
  height: 2em;
  opacity: 0.6;
  transform: 0.25s ease-in opacity;
}

#modal-exit:hover {
  opacity: 1;
  cursor: pointer;
}

#modal-exit:before, #modal-exit:after{
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #262626;
}

#modal-exit:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#modal-exit:after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-success {
  font-size: 6em;
  color: #6AB569;
}

.modal-failed {
  font-size: 6em;
  color: #EF7D4C;
}

#load-spinner::before {
  display: inline-block;
  font-size: 8em;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
}

/* Styles for the add exam page */
#searchtop div {
  display: inline-block;
  width: calc((1/4) * 100% - 4px);
}
#searchtop div label {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
  color: #fff;
  background-color: #E24E42;
  -webkit-transition: 0.15s ease-in-out background-color;
	-moz-transition: 0.15s ease-in-out background-color;
	-o-transition: 0.15s ease-in-out background-color;
	transition: 0.15s ease-in-out background-color;
  cursor: pointer;
}

#searchtop div label:hover, #searchtop div label:focus, #searchtop div input:checked ~ label {
  background-color: #B94037;
}

#searchtop div input {
  visibility: hidden;
  position: absolute;
}

#search-bar-cont input{
  width: 100%;
  max-width: none;
  border: none;
  box-sizing: border-box;
  padding: 1em 0.25em 0.75em 0.25em;
  margin:0;
  border-bottom: 0.1em solid #666666;
  -webkit-transition: 0.15s ease-in-out border-bottom-color;
	-moz-transition: 0.15s ease-in-out border-bottom-color;
	-o-transition: 0.15s ease-in-out border-bottom-color;
	transition: 0.15s ease-in-out border-bottom-color;
}

#search-bar-cont input:focus {
  border-bottom-color: #E24E42;
  outline: none;
}

#modal-exam-list {
    position: absolute;
    width: 100%;
    left: 0;
    overflow: scroll;
    max-height: calc(100% - 10.551em);
}

/* STYLES FOR EXAM BLOCKS */
.exam-cont {
  margin: 0.5em 0;
  animation-name: fadeIn;
  animation-duration: 0.15s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.15s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: fadeIn;
  -moz-animation-duration: 0.15s;
  -moz-animation-iteration-count: 11;
  -moz-animation-timing-function: linear;
  -ms-animation-name: fadeIn;
  -ms-animation-duration:0.15s;
  -ms-animation-iteration-count: 11;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
}
.exam-block {
  color: #fff;
  text-align: left;
  padding: 1em;
  position: relative;
}

.right-button {
  position: absolute;
  font-size: 1.2em;
  right: 0;
  top:0;
  padding: 2.03em 0.75em;
}

.right-button:before {
  display: inline-block;
  -webkit-transition: 0.15s ease-in-out transform;
	-moz-transition: 0.15s ease-in-out transform;
	-o-transition: 0.15s ease-in-out transform;
	transition: 0.15s ease-in-out transform;
}

.exam-block i.icon-add {
  font-size: 2em;
  top: 0;
  right: 0;
  padding: 1.6em 1em;
  position: absolute;
}

.exam-block i.icon-add:focus, .exam-block i.icon-add:hover {
  /*background-color: #0288D1;*/
}

.main-list {
  height: 5em;
  padding: 0.5em 1em;
}

.main-list h4, .main-list p{
  margin: 0.4em 0;
  line-height: 1.2em;
}

.exam-buttons-cont {
  height: 3em;
  max-height: 0em;
  overflow: hidden;
  /*background-color: #03A9F4;*/
  -webkit-transition: 0.15s ease-in-out max-height;
	-moz-transition: 0.15s ease-in-out max-height;
	-o-transition: 0.15s ease-in-out max-height;
	transition: 0.15s ease-in-out max-height;
}

.exam-buttons-cont button {
  -webkit-appearance: none;
  background-color: inherit;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.6em;
  width: 50%;
  height: 100%;
}

.exam-buttons-cont button, .add-exam {
  -webkit-transition: 0.15s ease-in-out background-color;
	-moz-transition: 0.15s ease-in-out background-color;
	-o-transition: 0.15s ease-in-out background-color;
	transition: 0.15s ease-in-out background-color;
}

.exam-buttons-cont button:hover, .add-exam:hover {
  cursor: pointer;
}

.level-1 button:hover, .level-1.add-exam:hover  {
  background-color: #56A19A;
}

.level-2 button:hover, .level-2.add-exam:hover  {
  background-color: #75AB6A;
}

.level-3 button:hover, .level-3.add-exam:hover  {
  background-color: #C87342;
}

.level-4 button:hover, .level-4.add-exam:hover  {
  background-color: #C74E44;
}

.exam-buttons-cont button:focus {
}

.main-list.buttons-open ~ .exam-buttons-cont {
  max-height: 3em;
}

.main-list.buttons-open .right-button:before{
  -webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

#message {
  margin: 0.5em auto;
  max-width: 20em;
}

.message {
  margin: 0.5em auto;
  max-width: 20em;
  animation: fadein 2s;
  -moz-animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
}

.error {
  color: #f44336;
}

.okay {
  color: #9CCC65;
}

#exam-time-select {
  margin-top: 1em;
}

/* STYLES FOR PROFILE PAGE */
.profile-block {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 2em;
  vertical-align: top;
  display: inline-block;
  margin: 1em 0;
  box-shadow: 0 0.0025em 0.1em rgba(0,0,0,0.10), 0 0.0025em 0.1em rgba(0,0,0,0.20);
}

@media screen and (min-width: 31.250em){
  #actions-container {
    text-align: center;
  }

  .profile-block{
    /*width: calc(50% - 2em);*/
    max-width: 31.25em;
    margin: 1em 0.25em;
  }
}

@media screen and (min-width: 68em){
  main {
    max-width: 66em;
    margin: 0 auto;
    margin-top: 3em;
    position: relative;
  }

  /*#exam-list {
    text-align: center;
  }*/

  #hamburger {
    display: none;
  }

  #menu {
    max-height: none;
    width: 100%;
  }

  #menu a {
    width: 10em;
    display: inline-block;
    padding: 1em 1em;
    float: right;
    line-height: 1.2em;
  }

  .add-button {
    top:0;
  }

  /* MODAL DIALOGS */
  #modal-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(0,0,0,0);
    transition: 0.15s ease-in background-color;
  }

  .modal-back-fadeout {
    height: 100% !important;
    width: 100% !important;
    display: block !important;
  }

  .modal-back-show {
    height: 100% !important;
    width: 100% !important;
    display: block !important;
    background-color: rgba(0,0,0,0.6) !important;
  }

  .modal-show {
    top: 50% !important;
  }

  #modal-data {
    position: static;
    transform: none;
  }

  #modal-cont {
    width:  40em;
    height: auto;
    min-height: 10em;
    background-color: #fff;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .exam-cont {
    width: calc(25% - 1em);
    display: inline-block;
    margin: 0.5em;
  }

  #modal-exam-list .exam-cont h4 {
    margin-top: 0;
  }

  .exam-block {
    height: 6em;
  }

  .right-button {
    display: none;
  }

  .exam-buttons-cont {
    max-height: none;
  }

  #modal-exam-list-wrap {
    height: 60vh;
  }

  #modal-exam-list > .exam-cont {
    height: 11em;
    vertical-align: top;
  }

  #modal-exam-list > .exam-cont i {
    position: absolute;
    padding: 0.2em calc((100%/2) - 0.5em);
    top: auto;
    left: 0;
    bottom: 0;
  }

  #modal-exam-list > .exam-cont i:hover {
    cursor: pointer;
  }

  #modal-exam-list {
    max-height: calc(100% - 11.62em);
    top: 11.62em;
  }
}

/* COLOURS STYLES FOR EXAM BLOCKS */
.level-1 {
  background-color: #68C4BB;
}

.level-2 {
  background-color: #8ED081;
}

.level-3 {
  background-color: #F48C50;
}

.level-4 {
  background-color: #F25F52;
}

.border-green {
  border-top: 0.25em solid #8ED081;
  border-bottom: 0.25em solid #8ED081;
}

.border-orange {
  border-top: 0.25em solid #F48C50;
  border-bottom: 0.25em solid #F48C50;
}

button.red, input[type="submit"].red {
  background-color: #E24E42;
}

button.green, input[type="submit"].green {
  background-color: #8ED081;
}

button.red:hover, input[type="submit"].red:hover {
  background-color: #B94037;
}

button.green:hover, input[type="submit"].green:hover {
  background-color: #75AB6A;
}

button.orange, input[type="submit"].orange {
  background-color: #F48C50;
}

button.orange:hover,input[type="submit"].orange:hover {
  background-color: #C87342;
}


.input-group > input:focus~label.red, .input-group > input:valid~label.red, .input-group > input:disabled~label.red, .input-group > input#datepicker~label.red {
  color: #E24E42;
}

.input-group > input:focus~label.green, .input-group > input:valid~label.green, .input-group > input:disabled~label.green, .input-group > input#datepicker~label.green {
  color: #8ED081;
}

.input-group > input:focus~label.orange, .input-group > input:valid~label.orange, .input-group > input:disabled~label.orange, .input-group > input#datepicker~label.orange {
  color: #F48C50;
}

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadeIn {
    /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadeIn {
    /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadeIn {
    /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(-360deg);
    }
}
@-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
     }
    to {
      -webkit-transform: rotate(-360deg);
     }
}
@keyframes spin {
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(-360deg);
    }
}
